
  <!-- primera version del formulario para las personas que quieran participar en alguna actividad
  en un principio esta hecho en html5 con un post hacia un email-->
<div id="volunter">
  <img src="/src/assets/imgs/second/voluntarios_banner-1.jpg" alt="hazteVoluntario">
</div>
      <h1 style="text-align: center">Unete A Los Voluntarios</h1>

<div class="formulario">
  <form action="MAILTO:contacto@vssfmx.mx" method="post" enctype="text/plain">
    <table border="1" width="70%" style="border: mediumblue">
      <tbody>
        <tr>
          <td>Nombre</td>
          <td>
            <input name="nombre" size="25" maxlength="50" type="text"> </td>
        </tr>
        <tr>
          <td>Apellidos</td>
          <td>
            <input name="apellidos" size="25" maxlength="50" type="text"> </td>
        </tr>
        <tr>
          <td>e-mail</td>
          <td>
            <input name="correo" size="30" maxlength="100" type="text"> </td>
        </tr>
        
       
        <tr>
          <td>¿Haz participado como voluntario anteriormente?</td>
          <td>
            <p>
              <input name="voluntario" value="si" type="checkbox"> Si</p>
            <p>
              <input name="sinExperiencia" value="no" type="checkbox"> no </p>
            
            <p> </p>
          </td>
        </tr>

        <tr>
              <td>Cuentanos tus experiencias y en que area te gustaria párticipar.</td>
              <td>
                <p>
                  <textarea name="comentarios" rows="10" cols="40">Escribe aquí tus comentarios</textarea>
                
                
                <p> </p>
              </td>
            </tr>

        <tr>
          <td>Zona de residencia:</td>
          <td>
                  <select name="Estado">
                          <option value="Puebla">Puebla</option>
                          <option value="Nuevo Leon">Nuevo Leon</option>
                          <option value="Sonora">Sonora</option>
                          <option value="Chihuahua">Chihuahua</option>
                          <option value="Jalisco">Jalisco</option>
        </select> </td>
        </tr>
      </tbody>
    </table>
    <p>
      <input name="enviar" value="Enviar" type="submit">
      <input name="borrar" value="Borrar" type="reset">
    </p>
  </form>
</div>