<h1 style="text-align: center">Proyectos</h1>
    <div class="container-fluid">
        <!-- aqi empieza la distribución de la información principal para dar a conocer las actividades
        de la ong, la idea es que cada seccion tenga un efecto hover con un cambio de background y de 
    color de fuente para mayor resalte, al dar click en una seccion se pasara a otra con informacipón mas 
detalada y con enlace que resalte la oportunidad de unirse al proyecto que se revisa. -->
            <div class="row" style="text-align: center">
                    <div class="col-sm-3" style="background-color:lavender;">
                            <h2>Derechos humanos</h2>
                            <img src="/images/voluntarios.jpg" alt="" style="width: 50%">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti possimus facere ullam velit unde eveniet placeat, enim quod iusto ea voluptatum asperiores necessitatibus modi nesciunt dolorem corporis corrupti! Nostrum, quasi.</p>
                    </div>
                    <div class="col-sm-3" style="background-color:lavenderblush;">
                            <h2>Ecologia</h2>
                            <img src="/images/voluntarios.jpg" alt="" style="width: 50%">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti possimus facere ullam velit unde eveniet placeat, enim quod iusto ea voluptatum asperiores necessitatibus modi nesciunt dolorem corporis corrupti! Nostrum, quasi.</p>
                    </div>
                    <div class="col-sm-3" style="background-color:lavender;">
                            <h2>Desarrollo Comunitario</h2>
                            <img src="/images/voluntarios.jpg" alt="" style="width: 50%">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti possimus facere ullam velit unde eveniet placeat, enim quod iusto ea voluptatum asperiores necessitatibus modi nesciunt dolorem corporis corrupti! Nostrum, quasi.</p>
                    </div>
                    
                  </div>
        <!-- empeze con un row flex, pero es mas responsivo el acomodo por class row
        <div style="flex: 2; background-color: orangered; margin: 5px;">Hola</div>
        <div style="flex: 2; background-color: yellow; margin: 5px;">Hola</div>
        <div style="flex: 2; background-color: green; margin: 5px; text-align:center";>
            <h2>Derechos humanos</h2>
            <img src="/images/voluntarios.jpg" alt="" style="width: 50%">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti possimus facere ullam velit unde eveniet placeat, enim quod iusto ea voluptatum asperiores necessitatibus modi nesciunt dolorem corporis corrupti! Nostrum, quasi.</p>
        -->
        </div>
    
    
