<br><br><br>
<div id="container">
        <div class="row">
            <div class="col-sm-3 proyectos">
               <img class="testimonial-image" src="/src/assets/imgs/second/beijinwomen.png">
                        <br><br>
                <span class="headertest">Los Derechos Humanos a Clase
                </span>
                <br> 
                <p class="text-center">Programa que busca ayudar a crear una cultura de respeto y 
                    tolerancia mediante el dialogo para la resolucion de conflictos..
                </p>
        
                <a id="enroll-button" class="btn btn-primary btn-xl js-scroll-trigger enroll-button " href="https://github.com/martincomito" target="_blank"><strong>Conocer mas...</strong></a>
           
            </div>
            
            <div class="col-sm-3 proyectos">
                <img class="testimonial-image" src="/src/assets/imgs/second/ecologia1.jpg">
                <br><br>
                <span class="headertest">Ecologia sustentable</span>
                <br>
                <p class="text-center"> Cursos de manejo de desechos organicos para su uso en composta
                    en alianza con Naturalia participamos en jornadas de reforestación sustentable...
                </p>
                 <a id="enroll-button" class="btn btn-primary btn-xl js-scroll-trigger enroll-button " href="https://github.com/Polcat000" target="_blank"><strong>Conocer Mas...</strong></a>
            </div>
            
            <div class="col-sm-3 proyectos">
                <img class="testimonial-image" src="/src/assets/imgs/second/Voluntariado9.jpg">
                <br><br>
                <span class="headertest">Observación Electoral</span>
                <br>
                <p class="text-center">Participamos con el fondo de Naciones Unidas para la observación Electoral
                en elecciones federales y locales, tanto en México como en el extranjero...    
                </p>
                 <a id="enroll-button" class="btn btn-primary btn-xl js-scroll-trigger enroll-button " href="https://github.com/dimitristsaknakis" target="_blank"><strong>Conocer Mas...</strong></a>
            </div>
            
    </div>
</div>
