<div id="container">
        <div class="row">
            <div class="col-sm-3 testimonial">
               <img class="testimonial-image" src="/src/assets/imgs/second/beijinwomen.png">
                        <br><br>
                <span class="headertest">Martin Comito
                </span>
                <br> 
                <p class="text-center">The content is great, but the best thing of all is the way Andrei explains it. His explanations are clear, concise and no longer extensive, preventing it from becoming too long and difficult to assimilate. This course is different from all the others, I recommend it totally.</p>
        
                <a id="enroll-button" class="btn btn-primary btn-xl js-scroll-trigger enroll-button " href="https://github.com/martincomito" target="_blank"><strong>Martin's Github</strong></a>
           
            </div>
            
            <div class="col-sm-3 testimonial">
                <img class="testimonial-image" src="/src/assets/imgs/second/ecologia1.jpg">
                <br><br>
                <span class="headertest">Andy Polcaster</span>
                <br>
                <p class="text-center"> Andrei's course has been by far the most consise and helpful Udemy course I've taken thus far. It definitely jump-started my interest in open-source!</p>
                 <a id="enroll-button" class="btn btn-primary btn-xl js-scroll-trigger enroll-button " href="https://github.com/Polcat000" target="_blank"><strong>Conocer</strong></a>
            </div>
            
            <div class="col-sm-3 testimonial">
                <img class="testimonial-image" src="/src/assets/imgs/second/Voluntariado9.jpg">
                <br><br>
                <span class="headertest">Dimitris Tsaknakis</span>
                <br>
                <p class="text-center">Andrei has an excellent way of explaining things, and covers the whole spectrum of web developing (from front end to back end). He's there for any questions that rise, responding to all (and very polite as well), and so are many of people enrolled in the course. It really makes learning fun, and for quality learning (like the instructor offers for this course) it makes it even more enjoyable. Definitely a recommended course to take!</p>
                 <a id="enroll-button" class="btn btn-primary btn-xl js-scroll-trigger enroll-button " href="https://github.com/dimitristsaknakis" target="_blank"><strong>Dimitris' Github</strong></a>
            </div>
            
    </div>
</div>
