@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
    box-sizing: border-box;
  }

#divpadrecarousel{
    width: 100%;
    position: relative;
    margin: auto;
    height: 100%;
}

.container-fluid{
    position: absolute;
    bottom: 0;
   
}