<body>
<div class="carrusel">
  <!-- aqui empezara un carrusel de imagenes con un efecto de transparencia, -->

</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis nam nihil quae. Eos reprehenderit maxime hic corporis accusantium natus non aspernatur, commodi mollitia ipsa at dolorum architecto accusamus totam.</p>


<div class="container-fluid">
  <!-- seccion con noticias o con infomacion sobre alguna convocatoria para algun proyecto
  noticias sobre voluntarios, sobre agencias de NU.
  *como alimentamos esta infomacion en automatico??  -->
      <div class="row" style="text-align: center">
              <div class="col-sm-3" style="background-color:lavender;">
                      <h2>Derechos humanos</h2>
                      <img src="/src/assets/imgs/voluntarios2.jpeg" alt="" style="width: 50%">
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti possimus facere ullam velit unde eveniet placeat, enim quod iusto ea voluptatum asperiores necessitatibus modi nesciunt dolorem corporis corrupti! Nostrum, quasi.</p>
              </div>
              <div class="col-sm-3" style="background-color:lavenderblush;">
                      <h2>Ecologia</h2>
                      <img src="/src/assets/imgs/Voluntario1.jpeg" alt="" style="width: 50%">
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti possimus facere ullam velit unde eveniet placeat, enim quod iusto ea voluptatum asperiores necessitatibus modi nesciunt dolorem corporis corrupti! Nostrum, quasi.</p>
              </div>
              <div class="col-sm-3" style="background-color:lavender;">
                      <h2>Desarrollo Comunitario</h2>
                      <img src="/src/assets/imgs/voluntarios3.jpg" alt="" style="width: 50%">
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti possimus facere ullam velit unde eveniet placeat, enim quod iusto ea voluptatum asperiores necessitatibus modi nesciunt dolorem corporis corrupti! Nostrum, quasi.</p>
              </div>
              <div class="col-sm-3" style="background-color:lavenderblush;">
                        <h2>Noticias</h2>
                        <img src="/src/assets/imgs/voluntarios3.jpg" alt="" style="width: 50%">
                       <div> <a href="https://twitter.com/intent/tweet?button_hashtag=unvolunteers&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large" data-text="Noticias" data-lang="en" data-show-count="false">Tweet #unvolunteers</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </div>
                </div>
              
            </div>
        </div>
</body>