<body>

<!-- <div id="qsomos">
    <img src="/src/assets/imgs/vssfmx.jpg" alt="qsomos">  
  
  </div> -->

<div class="container">

  

<h2>Quienes somos</h2>

<p>El Voluntariado Sociedad sin Fronteras México, A.C.; es una ONG que surge a partir del llamado de Naciones Unidas
  para integrarse a un esfuerzo mundial y cumplir con los obetivos del milenio
  planteados en la 6ta. cumbre mundial para el desarrollo del milenio. En dicha reunion se insto a la Sociedad
  civil a unirse para apoyar y empujar a los gobiernos del mundo para lograr los objetivos del milenio.
</p>
</div>
</body>