<!-- <link rel="stylesheet" href="icomoon.css">
<link rel="stylesheet" href="/css/ejemplobarrasocial.css"> -->


    <div class="social-bar">
        <a href="https://www.facebook.com/" target="_blank" class="icon icon-facebook"></a>
        <a href="https://www.twitter.com/" target="_blank" class="icon icon-twiter"></a>
        <a href="https://www.youtube.com/" target="_blank" class="icon icon-youtube"></a>
        <a href="https://plus.google.com/" target="_blank" class="icon icon-google-plus"></a>
        <a href="https://www.instagram.com/" target="_blank" class="icon icon-instagram"></a>
        <a href="https://www.pinterest.com/" target="_blank" class="icon icon-pinterest2"></a>
    </div>
